
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font-family: verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.8em;
}

#id_user_icon {
    margin-right: 10px;
    vertical-align: -2px;
}

.pub_info {
    margin-top: 10px;
}

.pub_info .glyphicon-comment {
    vertical-align: -1px;
}
