{% extends 'base.html' %}

{% block title %}
    <title>后台管理</title>
{% endblock %}


{% block site-header %}
    {% include 'backend/header.html' %}
{% endblock %}

{% block leftBox %}

    <div class="panel panel-default">
        <div class="panel-heading">操作</div>
        <div class="panel-body">
            <a href="/cn_backend/add_article/">添加文章</a>

        </div>

    </div>

{% endblock %}

{% block midBox %}

    <div>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">文章</a></li>
            <li role="presentation"><a href="#">日记</a></li>
            <li role="presentation"><a href="#">随笔</a></li>
            <li role="presentation"><a href="#">相册</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="article_list small">
            <table class="table table-hover table-striped">
                {% csrf_token %}
                <thead>
                <th>序号</th>
                <th>标题</th>
                <th>评论数</th>
                <th>点赞数</th>
                <th>操作</th>
                <th>操作</th>
                </thead>

                <tbody>
                {% for article in article_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td class="article_id" style="display: none">{{ article.nid }}</td>
                        <td><a href="/{{ request.user.username }}/articles/{{ article.nid }}">{{ article.title }}</a>
                        </td>
                        <td>{{ article.comment_count }}</td>
                        <td>{{ article.up_count }}</td>
                        <td><a href="/cn_backend/edit_article/{{ article.pk }}">编辑</a></td>
                        <td><a class="delete" style="cursor: pointer;">删除</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $('tr').on('click', 'td a.delete', function (e) {
                var article_id = $(e.target).parent().siblings('.article_id').html()
                $.ajax({
                    url: '/delete/',
                    type: 'post',
                    data: {
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                        article_id: article_id
                    },
                    success: function (data) {
                        if (data.status) {
                            alert("删除成功")
                            location.href = "/cn_backend/"
                        }
                        else {
                            alert('删除失败')
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}
