{% extends 'base.html' %}

{% block title %}
    <title>登录页面</title>
{% endblock %}

{% block site-header %}
    {% include './index-header.html' %}
{% endblock %}

{% block midBox %}
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <h3 class="text-center">登录页面</h3>
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">用户名</label>
                    <input type="text" id="id_username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_password">密码</label>
                    <input type="password" id="id_password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_valid_code_str">验证码</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="id_valid_code_str" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <img src="/get_validCode/" id="id_valid_code_img" width="270" height="35" title="验证码"
                                 alt="">
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-primary pull-right login-btn" value="登录"><span class="error"></span>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script type="text/javascript">
        //刷新验证码
        $(function () {
            $("#id_valid_code_img").click(function () {
                $(this)[0].src += "?"
            })
        });

        //登录验证
        $(function () {
            $('.login-btn').click(function () {
                $.ajax({
                    url: '',
                    type: 'post',
                    data: {
                        user: $("#id_username").val(),
                        pwd: $("#id_password").val(),
                        valid_code_str: $("#id_valid_code_str").val(),
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()

                    },
                    success: function (data) {
                        if (data.user) {
                            location.href = "/"
                        }
                        else {
                            $('.error').text(data.msg).css({'color': 'red'});

                            //定时器 1s后error_msg 消失
                            setTimeout(function () {
                                $('.error').text("")
                            }, 1000)
                        }
                    }

                })
            })
        })
    </script>
{% endblock %}