{% extends 'base.html' %}

{% block title %}
    <title>登录页面</title>
{% endblock %}

{% block site-header %}
    {% include './index-header.html' %}
{% endblock %}

{% block midBox %}
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <h3 class="text-center">登录页面</h3>
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">用户名</label>
                    <input type="text" id="id_username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_password">密码</label>
                    <input type="password" id="id_password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_valid_code_str">验证码</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="id_valid_code_str" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <img src="/get_validCode/" id="id_valid_code_img" width="270" height="35" title="验证码"
                                 alt="">
                        </div>
                    </div>
                </div>
                <input type="button" class="btn btn-primary pull-right login-btn" value="登录"><span class="error"></span>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="/static/js/login.js"></script>
{% endblock %}