{% extends 'base.html' %}

{% block title %}
    <title>注册页面</title>
{% endblock %}

{% block site-header %}
    {% include './index-header.html' %}
{% endblock %}

{% block midBox %}
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <h3 class="text-center">注册页面</h3>
            <form id="id_form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error pull-right" style="color: red"></span>
                    </div>
                {% endfor %}


                <div class="form-group">
                    <label for="avatar">头像

                        <img width="60" height="60" src="/static/img/default.jpg" alt="" id="avatar_img"
                             style="margin-left: 20px">
                        <input type="file" id="avatar" style="display: none">

                    </label>
                </div>

                <input type="button" class="btn btn-success register-btn pull-right" value="注册">

            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/register.js"></script>
{% endblock %}